In [2]:
import pandas as pd

import requests

from bs4 import BeautifulSoup

In [3]:
## country safety index

url ="https://www.numbeo.com/crime/rankings_by_country.jsp?title=2020&displayColumn=1"

user_agent = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36"}

response = requests.get(url=url, headers=user_agent)

response.status_code

200

In [4]:
country_safety_index = pd.read_html(url)[1]

country_safety_index.drop('Rank', axis=1, inplace=True)

country_safety_index

                  Country  Safety Index
0               Venezuela         15.51
1        Papua New Guinea         18.07
2            South Africa         22.51
3             Afghanistan         23.77
4                Honduras         23.89
..                    ...           ...
124                 Japan         79.34
125               Georgia         79.79
126  United Arab Emirates         84.30
127                Taiwan         84.35
128                 Qatar         88.14

[129 rows x 2 columns]

In [5]:
# save safety index as csv

country_safety_index.to_csv('safety_index.csv', index=False)

In [10]:
#travel requirement

def visa_formatting(string):
    import re
    string = re.sub("\d","", string)
    string = re.sub(r"[\[\]]", "", string)
    return string

In [128]:
# visa requirements status

def visa_status(string):
    import re
    string = string.lower()
    new_string = string.replace("visa not required", "no visa.")
    new_string = new_string.replace("freedom of movement", "no visa.")
    final_string = new_string.split(".",1)
    return final_string[0]

In [11]:
## travel requirements for Spanish citizen

url = "https://en.wikipedia.org/wiki/Visa_requirements_for_Spanish_citizens"

travel_spain = pd.read_html(url)[0]

In [12]:
travel_spain = travel_spain[["Country", "Visa requirement"]]

In [155]:
travel_spain["Visa requirement"] = travel_spain["Visa requirement"].apply(visa_formatting)

travel_spain["Visa requirement"] = travel_spain["Visa requirement"].apply(visa_status)

travel_spain

travel_spain.to_csv("visa_spain.csv", index= False)

In [18]:
## travel requirements for German citizen

url = "https://en.wikipedia.org/wiki/Travel_requirements_for_German_citizens"

travel_germany= pd.read_html(url)[0]

In [19]:
travel_germany = travel_germany[["Country", "Visa requirement"]]

In [133]:
travel_germany["Visa requirement"] = travel_germany["Visa requirement"].apply(visa_formatting)

travel_germany["Visa requirement"] = travel_germany["Visa requirement"].apply(visa_status)

In [134]:
travel_germany

         Country         Visa requirement
0    Afghanistan            visa required
1        Albania                  no visa
2        Algeria            visa required
3        Andorra                  no visa
4         Angola                    evisa
..           ...                      ...
188    Venezuela                  no visa
189      Vietnam                  no visa
190        Yemen            visa required
191       Zambia  evisa / visa on arrival
192     Zimbabwe  evisa / visa on arrival

[193 rows x 2 columns]

In [149]:
travel_germany.to_csv("visa_germany.csv", index= False)

In [23]:
## travel requirements for Portuguese citizen

url = "https://en.wikipedia.org/wiki/Visa_requirements_for_Portuguese_citizens"

travel_portugal= pd.read_html(url)[0]

In [24]:
travel_portugal = travel_portugal[["Country", "Visa requirement"]]

In [136]:
travel_portugal["Visa requirement"] = travel_portugal["Visa requirement"].apply(visa_formatting)

travel_portugal["Visa requirement"] = travel_portugal["Visa requirement"].apply(visa_status)

In [137]:
travel_portugal

         Country         Visa requirement
0    Afghanistan            visa required
1        Albania                  no visa
2        Algeria            visa required
3        Andorra                  no visa
4         Angola                    evisa
..           ...                      ...
188    Venezuela                  no visa
189      Vietnam                    evisa
190        Yemen            visa required
191       Zambia  evisa / visa on arrival
192     Zimbabwe  evisa / visa on arrival

[193 rows x 2 columns]

In [150]:
travel_portugal.to_csv("visa_portugal.csv", index= False)

In [28]:
## travel requirements for Indian citizen

url = "https://en.wikipedia.org/wiki/Visa_requirements_for_Indian_citizens"

travel_india= pd.read_html(url)[0]

In [29]:
travel_india = travel_india[["Country", "Visa requirement"]]

In [139]:
travel_india["Visa requirement"] = travel_india["Visa requirement"].apply(visa_formatting)

travel_india["Visa requirement"] = travel_india["Visa requirement"].apply(visa_status)

In [140]:
travel_india

         Country         Visa requirement
0    Afghanistan           visa required
1        Albania            visa required
2        Algeria            visa required
3        Andorra            visa required
4         Angola                    evisa
..           ...                      ...
188    Venezuela            visa required
189      Vietnam                    evisa
190        Yemen            visa required
191       Zambia                    evisa
192     Zimbabwe  evisa / visa on arrival

[193 rows x 2 columns]

In [151]:
travel_india.to_csv("visa_india.csv", index= False)

In [33]:
## travel requirements for Argentine citizen

url = "https://en.wikipedia.org/wiki/Visa_requirements_for_Argentine_citizens"

travel_argentina= pd.read_html(url)[0]

In [34]:
travel_argentina = travel_argentina[["Country", "Visa requirement"]]

In [142]:
travel_argentina["Visa requirement"] = travel_argentina["Visa requirement"].apply(visa_formatting)

travel_argentina["Visa requirement"] = travel_argentina["Visa requirement"].apply(visa_status)

In [143]:
travel_argentina

         Country         Visa requirement
0    Afghanistan            visa required
1        Albania                  no visa
2        Algeria            visa required
3        Andorra                  no visa
4         Angola                    evisa
..           ...                      ...
188    Venezuela                  no visa
189      Vietnam                    evisa
190        Yemen            visa required
191       Zambia  evisa / visa on arrival
192     Zimbabwe  evisa / visa on arrival

[193 rows x 2 columns]

In [152]:
travel_argentina.to_csv("visa_argentina.csv", index= False)

In [38]:
## travel requirements for Kenyan citizen

url = "https://en.wikipedia.org/wiki/Visa_requirements_for_Kenyan_citizens"

travel_kenya= pd.read_html(url)[0]

In [39]:
travel_kenya = travel_kenya[["Country", "Visa requirement"]]

In [145]:
travel_kenya["Visa requirement"] = travel_kenya["Visa requirement"].apply(visa_formatting)

travel_kenya["Visa requirement"] = travel_kenya["Visa requirement"].apply(visa_status)

In [146]:
travel_kenya

         Country Visa requirement
0    Afghanistan    visa required
1        Albania    visa required
2        Algeria    visa required
3        Andorra    visa required
4         Angola    visa required
..           ...              ...
188    Venezuela    visa required
189      Vietnam    visa required
190        Yemen    visa required
191       Zambia          no visa
192     Zimbabwe          no visa

[193 rows x 2 columns]

In [154]:
travel_kenya.to_csv("visa_kenya.csv", index= False)

In [54]:
# API flight prices

import pandas as pd

import requests

from requests.auth import HTTPBasicAuth

from requests_oauthlib import OAuth2Session

In [55]:
import requests

url = "https://compare-flight-prices.p.rapidapi.com/GetPricesAPI/GetPrices.aspx"

querystring = {"SearchID":"<REQUIRED>"}

headers = {
	"X-RapidAPI-Host": "compare-flight-prices.p.rapidapi.com",
	"X-RapidAPI-Key": "a4053c7abbmsh2114a98fccb2c90p15b52djsn85a6b987c9df"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"message":"You are not subscribed to this API."}

In [156]:
pd.merge(travel_germany, country_safety_index, on='Country')

           Country         Visa requirement  Safety Index
0      Afghanistan            visa required         23.77
1          Albania                  no visa         60.48
2          Algeria            visa required         50.19
3           Angola                    evisa         35.03
4        Argentina                  no visa         38.23
..             ...                      ...           ...
116  United States      visa waiver program         52.80
117        Uruguay                  no visa         46.19
118      Venezuela                  no visa         15.51
119        Vietnam                  no visa         54.65
120       Zimbabwe  evisa / visa on arrival         42.53

[121 rows x 3 columns]

In [158]:
list_1 = travel_germany["Country"].to_list()

In [159]:
list_2 = country_safety_index["Country"].to_list()

In [164]:
final = list_1 + list_2

In [162]:
len(final)

322

In [166]:

final = list(dict.fromkeys(final))
len(final)

201

In [167]:
final

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Republic of the Congo',
 'Democratic Republic of the Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'North Korea',
 'South Korea',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'São Tomé and Príncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'Trinidad And Tobago',
 'Puerto Rico',
 'Palestine',
 'Bosnia And Herzegovina',
 'Germany',
 'Kosovo (Disputed Territory)',
 'Hong Kong',
 'Taiwan']